export OPENCV_MOBILE_PATH="your_path"
export LUCKFOX_C_CROSS_COMPILER_PATH=".../gcc-arm-11.2-2022.02-x86_64-arm-none-linux-gnueabihf/bin/arm-none-linux-gnueabihf-gcc"
export LUCKFOX_CXX_CROSS_COMPILER_PATH=".../gcc-arm-11.2-2022.02-x86_64-arm-none-linux-gnueabihf/bin/arm-none-linux-gnueabihf-g++"
