export OPENCV_MOBILE_PATH="your_path"
export LUCKFOX_C_CROSS_COMPILER_PATH=".../arm-rockchip830-linux-uclibcgnueabihf/bin/arm-rockchip830-linux-uclibcgnueabihf-gcc"
export LUCKFOX_CXX_CROSS_COMPILER_PATH=".../arm-rockchip830-linux-uclibcgnueabihf/bin/arm-rockchip830-linux-uclibcgnueabihf-g++"
export LUCKFOX_RKMPI_PATH=".../luckfox_pico_rkmpi_example"
